PINATA_JWT=
NEXT_PUBLIC_GATEWAY_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_REOWN_PROJECT_ID=65b7cb63d6c2112382eeab47c2af4ef3
STATUS_HOODI_RPC_URL=https://public.hoodi.rpc.status.network/
NEXT_PUBLIC_STATUS_RPC_URL=https://public.hoodi.rpc.status.network/
NEXT_PUBLIC_STATUS_CHAIN_ID=374
NEXT_PUBLIC_MEMORY_REGISTRY_ADDRESS=
NEXT_PUBLIC_KARMA_ADDRESS=0x0700be6f329cc48c38144f71c898b72795db6c1b
NEXT_PUBLIC_KARMA_TIERS_ADDRESS=0xb8039632e089dcefa6bbb1590948926b2463b691
NEXT_PUBLIC_STATUS_EXPLORER_URL=https://hoodiscan.status.network
